<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/stylesheets/about.css">
        <link rel="shortcut icon" type="image/png" href="/stylesheets/pics/favicon.png">
    </head>
    <body>
        <%- include('common/loader') -%>
        <%- include('common/navbar') -%>

        <center>
        <div class="container">
            <h1>ABOUT THE HUNT</h1>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae purus a enim hendrerit aliquam sit amet vel velit.</li>
                <li>Sed pretium felis vitae neque consectetur, ut tincidunt sem dictum. Maecenas malesuada turpis a diam aliquam porta. Aliquam venenatis elit eget viverra dignissim. Aenean id mi at est faucibus commodo.</li>

                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae purus a enim hendrerit aliquam sit amet vel velit.</li>
                <li>Sed pretium felis vitae neque consectetur, ut tincidunt sem dictum. Maecenas malesuada turpis a diam aliquam porta. Aliquam venenatis elit eget viverra dignissim. Aenean id mi at est faucibus commodo.</li>

                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae purus a enim hendrerit aliquam sit amet vel velit.</li>
                <li>Sed pretium felis vitae neque consectetur, ut tincidunt sem dictum. Maecenas malesuada turpis a diam aliquam porta. Aliquam venenatis elit eget viverra dignissim. Aenean id mi at est faucibus commodo.</li>

                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae purus a enim hendrerit aliquam sit amet vel velit.</li>
                <li>Sed pretium felis vitae neque consectetur, ut tincidunt sem dictum. Maecenas malesuada turpis a diam aliquam porta. Aliquam venenatis elit eget viverra dignissim. Aenean id mi at est faucibus commodo.</li>
            </ul>
        </div>
        </center>
    </body>
    <script>
        localStorage.removeItem('username');
        localStorage.removeItem('name');
        localStorage.removeItem('school');
        localStorage.removeItem('email');
    </script>
</html>