<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/stylesheets/about.css">
        <link rel="shortcut icon" type="image/png" href="/stylesheets/pics/favicon.png">
    </head>
    <body>
        <%- include('common/loader') -%>
        <%- include('common/navbar') -%>

        <center>
        <div class="container">
            <h1>ABOUT THE HUNT</h1>
            <ul>
                <li>Crypto 2021 is the second edition of the annual cryptic hunt organized by students of Delhi Public School, Dwarka.</li>

                <li>The hunt consists of 50 brain wrecking questions based on famous incidents, figures and internet culture. The goal of the participant is to answer the questions as fast as possible using the hints given to place themselves at the top of the leaderboard.</li>

                <li>The top competitors who reach the highest levels in the shortest amount of time shall receive the prizes. The participant is free to use the internet to search for the answers.</li>

                <li>Crypto provides participating students with an international platform to compete and test their skills against some of the greatest cryptic hunters and intellects on the globe.</li>

                <li>The competitor who completes all 50 questions or ends at the top of the leaderboard when the event ends, shall be declared as the winner of Crypto 2021.</li>
            </ul>
        </div>
        </center>
    </body>
    <script>
        localStorage.removeItem('username');
        localStorage.removeItem('name');
        localStorage.removeItem('school');
        localStorage.removeItem('email');
    </script>
</html>