<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="shortcut icon" type="image/png" href="/stylesheets/pics/favicon.png">
    </head>
    <body>
        <%- include('common/loader') -%>
        <%- include('common/navbar') -%>

        <div class="main">
        <div class="left">
            <h1>Cryptic</h1>
            <center>
            <p>The hunt consists of 50 brain wrecking questions based on famous incidents, figures and internet culture. The goal of the participant is to answer the questions as fast as possible using the hints given to place themselves at the top of the leaderboard.</p>
            </center>
            
            <a href="/register"><button>REGISTER</button></a> &nbsp;
            <a href="/login"><button>LOGIN</button></a>

            <h6></h6>
        </div>

        <div class="right">
            <img src="/stylesheets/pics/home.png">
        </div>
        </div>

        <center>
        <div class="lower-part">
            <h1>FAQs :-</h1>
            <br>

            <center>

            <button class="question">What is a Cryptic Hunt?</button>
            <div class="answer">
                <p>Cryptic hunts are online treasure hunts, you will be provided a question, maybe a hint or two and you have to find the answer, you can expect yourself to look for clues all over the internet, using ciphers, extracting metadata or just figuring out the popculture reference.</p>
            </div>
            <br>
            <button class="question">What are the Prizes?</button>
            <div class="answer">
                <p>Winner - 12,000 INR (customizable) <br>
                    Runner Up - 7000 INR (customizable)<br>
                    Second Runner Up - 5000 INR (customizable)<br>
                    4,5,6 - Netflix <br>
                    4th to 8th positions - Nord accounts<br>
                    Rank 5 - 25 - Replit Pro (6 Months)<br>
                    TOP 300 - Replit Pro Accounts (1 Month)</p>
            </div>
            <br>
            <button class="question">How will I recieve my prizes?</button>
            <div class="answer">
                <p>Remember to confirm your email. We will use it to get in touch with the winners after the event.</p>
            </div>
            <br>
            <button class="question">How are the winners decided?</button>
            <div class="answer">
                <p>There are 50 questions, first one to solve the 50th question or the person on the top of the leaderboard when the hunt ends is the winner.</p>
            </div>
            <br>

            </center>

            <script>
                var ques = document.getElementsByClassName("question");
                var x;
                
                for (x = 0; x < ques.length; x++) {
                    ques[x].addEventListener("click", function(){
                        this.classList.toggle("open");
                        var answer = this.nextElementSibling;
                        if (answer.style.maxHeight != 0){
                            answer.style.maxHeight = null;
                            this.style.borderBottomLeftRadius = '5px';
                            this.style.borderBottomRightRadius = '5px';
                        } 
                        else {
                            this.style.borderBottomLeftRadius = 0;
                            this.style.borderBottomRightRadius = 0;
                            answer.style.maxHeight = answer.scrollHeight + "px";
                        } 
                    });
                }
            </script>
        </div>
        </center>
    </body>
    <script>
        localStorage.removeItem('username');
        localStorage.removeItem('name');
        localStorage.removeItem('school');
        localStorage.removeItem('email');
    </script>
</html>